<launch>
  <include file="$(find topower_v1_moveit)/launch/planning_context.launch">
    <arg name="load_robot_description" value="true"/>
  </include>

  <rosparam file="$(find topower_v1)/config/topower_v1_control.yaml" command="load"/>

  <!-- controller manager & hardware interface -->
  <node name="topower_v1_hw" pkg="topower_v1" type="topower_v1_hw" output="screen" ns="topower_v1">
  </node>

  <!-- ros controllers -->
  <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
	output="screen" ns="topower_v1" args="joint_state_controller
    arm_controller gripper_l_position_controller
    cam_pan_position_controller cam_tilt_position_controller
    wheel_l_effort_controller wheel_r_effort_controller"/>

  <!-- moveit arm control -->
  <include file="$(find topower_v1_moveit)/launch/move_group.launch">
    <arg name="allow_trajectory_execution" value="true"/>
    <arg name="fake_execution" value="false"/>
    <arg name="info" value="true"/>
    <arg name="debug" value="false"/>
  </include>

  <node name="arm_control_node" pkg="topower_v1" type="arm_control_node.py" output="screen">
    <remap from="/joint_states" to="/topower_v1/joint_states"/>
  </node>

  <node name="serial_node_tcp" pkg="rosserial_python" type="serial_node.py"  args="tcp" output="screen"></node>

  <!--car control-->
  <node name="serial_node" pkg="rosserial_python" type="serial_node.py">
      <param name="port" value="/dev/ttyACM0" />
  </node>
  <node name="cam_capture_node" pkg="topower_v1" type="cam_capture_node.py" output="screen">
      <param name="camID" value="0" />
      <param name="flipH" value="true" />
  </node>
  <node name="car_control_node" pkg="topower_v1" type="car_control_node.py" output="screen">
      <param name="leftRatio" value="1" />
      <param name="rightRatio" value="1" />
  </node>

  <node name="yolo_node" pkg="topower_v1" type="yolo_node" output="screen"></node>


  <include file="$(find topower_v1)/launch/joy_control.launch"></include>

  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"
  respawn="false" output="screen">
    <remap from="/joint_states" to="/topower_v1/joint_states"/>
  </node>
  
  <!--<node name="rviz" pkg="rviz" type="rviz" args="-d $(find topower_v1)/config/topower_v1_moveit.rviz"/>-->


</launch>
