<launch>
    <node name="yolo_node" pkg="topower_v1" type="yolo_node" output="screen"></node>

    <node name="apriltag_node" pkg="topower_v1" type="apriltag_node" output="screen"></node>

    <include file="$(find topower_v1)/launch/joy_control.launch"></include>
    
    <!--<node name="rviz" pkg="rviz" type="rviz" args="-d $(find topower_v1)/config/topower_v1_moveit.rviz"/>-->
    <!--<node name="rqt_gui" pkg="rqt_gui" type="rqt_gui"/>-->
</launch>
